@import url("https://fonts.googleapis.com/css2?family=Inter&family=Poppins&family=Roboto&display=swap");

* {
  box-sizing: border-box;
  padding: 0%;
  margin: 0%;
}

body {
  background: #fff;
  overflow-x: hidden;
}

header {
  background: #fff;
  box-shadow: 0px 1.647px 8.237px 0px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 100;
}

a {
  text-decoration: none;
  text-align: center;
  color: #101928;
}

ul li {
  list-style-type: none;
}

h1 {
  color: #141e32;
  font-family: Poppins;
}

.container {
  margin: auto;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  gap: 5px;
  align-items: center;
}

.logo a {
  color: #545be8;
  font-family: Roboto;
}

.home {
  font-weight: bold;
}

nav ul {
  display: flex;
  align-items: center;
  gap: 26px;
  font-family: Poppins;
}

.auth {
  gap: 20px;
  font-family: Inter;
}

.log {
  border-radius: 6px;
  border: 1px solid #545be8;
  color: #545be8;
}

.register,
.see {
  border-radius: 6px;
  color: #fff;
  background: #545be8;
}

.part1 {
  background: #f5f5f5;
}

.part1-left,
.part3-right {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: flex-start;
}

.part1-left p:first-of-type,
.part2-left p:first-of-type,
.part4-right p:first-of-type {
  color: #545be8;
}

.part1-left span {
  color: #545be8;
  font-weight: bold;
  font-family: Inter;
}

.part1-left p:last-of-type,
.part2-left p:last-of-type,
.part4-right p:last-of-type {
  color: #969696;
  font-family: Poppins;
}

.process {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

.play {
  display: flex;
  gap: 2px;
  justify-content: flex-start;
  align-items: center;
}

.play a {
  text-align: center;
  color: #141e32;
  font-family: Inter;
  font-size: small;
  font-weight: bold;
}

.part2 h3 {
  color: #fff;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
}

.part2-left {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.cards p {
  color: #ddd;
}

.arows {
  display: flex;
  gap: 10px;
}

.cards {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.card {
  padding: 20px;
  background-color: #545be8;
  border-radius: 6px;
}

.card img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: #fff;
}

.part3 {
  background-color: #545be8;
}

.part3-right p:last-of-type {
  color: #ddd;
  font-family: Poppins;
}

.part3 span:first-of-type,
.part3 p {
  color: #f0c932;
  font-family: Inter;
}

.part3 span:last-of-type {
  color: #ddd;
  font-family: Inter;
}

.part3 h2 {
  color: #fff;
  font-family: Poppins;
}

.spans {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
}

.span {
  display: flex;
  flex-direction: column;
}

.part4-left {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 100%;
}

.package {
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: relative;
  justify-content: space-between;
  align-items: flex-start;
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding-bottom: 20px;
  flex: 1;
}

.packages img {
  width: 100%;
  max-width: none;
  filter: brightness(0.8);
}

.packages {
  display: flex;
  gap: 10px;
  width: 100%;
  flex: 1;
}

.price {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  display: flex;
  justify-content: space-between;
  gap: 30px;
  align-items: center;
}

.price span:first-of-type {
  align-self: flex-start;
  color: #fff;
  background-color: #545be8;
  padding: 8px;
  font-size: small;
  margin-top: 10px;
  margin-left: 2px;
}

.price span:last-of-type {
  align-self: flex-end;
  margin: 80px 5px;
  color: #fff;
  font-size: small;
}

.details {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.detail {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 40px;
}

.detail span:first-of-type {
  font-weight: bold;
  margin-left: 2px;
  align-self: flex-start;
}

.detail span:last-of-type {
  color: #545be8;
  align-self: flex-end;
}

.details-items {
  display: flex;
  color: #969696;
  margin-left: 2px;
  gap: 4px;
}

.part4-right {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: flex-start;
}

.see {
  width: 50%;
  align-self: center;
}
.test {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.user {
  background: var(--White-color, #fff);
  box-shadow: 0px 8.237px 8.237px 0px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 5px;
  position: relative;
  width: 100%;
  height: 100%;
  margin-bottom: 20px;
  margin-top: 20px;
  justify-content: center;
}
.user img[alt="rating"] {
  width: 100px;
}
.user img[alt="part"] {
  position: absolute;
  align-self: flex-end;
  top: 0;
  right: 0;
}
.person {
  display: flex;
  gap: 10px;
  justify-content: flex-start;
}
.part5 h1 {
  text-align: center;
  font-size: larger;
}
.part5 h2,
.part5 h3 {
  font-size: small;
}
.part5 h3 {
  color: #969696;
  margin-left: 60px;
}

footer {
  background: #393e46;
  color: #fff;
  margin: 40px 0px 0px 0px;
}
footer .row {
  display: flex;
  gap: 40px;
}

footer .logo a,
footer a {
  color: #fff;
}
.footer-left {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.social {
  display: flex;
  gap: 10px;
}
.social img {
  width: 20px;
  height: 15px;
  padding: 5px;
  box-sizing: content-box;
  border: 1px solid #fff;
}
.footer-right {
  display: flex;
  gap: 30px;
  align-items: center;
  text-align: start;
}
.footer-items {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
footer nav ul {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
footer nav ul a {
  font-size: small;
}
@media screen and (max-width: 900px) {
  header {
    font-size: 10px;
    line-height: 16px;
  }

  .container {
    width: calc(100% - 16px);
  }

  .row {
    padding: 16px 0px;
  }

  .logo {
    gap: 2px;
  }

  .logo a {
    font-size: 12px;
  }

  .logo img {
    width: 40px;
    height: 40px;
  }

  nav ul {
    display: none;
  }

  .log,
  .register,
  .see {
    padding: 8px 12px;
  }

  h1 {
    font-size: 16px;
  }

  p {
    font-size: 14px;
    line-height: 21px;
  }

  .part1,
  .part2,
  .part3,
  .part4,
  .part5 {
    margin: 91px 0px;
    padding: 30px 0px;
  }

  .part1 .row,
  .part2 .row,
  .part3 .row,
  .part4 .row {
    width: calc(100% - 16px);
    margin: auto;
  }

  .part1-right img,
  .part3-left img {
    width: 150px;
    align-self: flex-end;
  }

  .part2 .row,
  .part4 .row {
    flex-direction: column;
    gap: 30px;
  }

  .part2-right,
  .part4-left,
  .part4-right {
    width: 100%;
  }

  .cards {
    flex-direction: column;
    width: 100%;
  }

  .card {
    flex: 1;
    width: 1005;
  }

  h2,
  h3 {
    font-size: 16px;
    font-family: Poppins;
  }

  .part3 .row {
    gap: 10px;
  }

  .part3-right,
  .part4-left {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .spans {
    width: calc((100% - 16px) / 3);
  }

  .part3 span,
  .part3 p {
    font-size: x-small;
  }

  .detail {
    font-size: x-small;
    justify-content: space-between;
    gap: 10px;
  }

  .details-items {
    font-size: x-small;
    gap: 5px;
    justify-content: flex-start;
  }
  .test {
    flex-direction: column;
  }
  footer .row {
    flex-direction: column;
    gap: 30px;
  }
  footer nav ul {
    gap: 5px;
    align-items: flex-start;
  }
  .footer-items h4 {
    font-size: 10px;
  }
  footer nav ul a {
    font-size: 8px;
  }
  .footer-right {
    align-self: flex-start;
  }
}

@media screen and (min-width: 900px) and (max-width: 1300px) {
  header {
    font-size: 14px;
    line-height: 21px;
  }

  .container {
    width: calc(100% - 20px);
  }

  .row {
    padding: 16px 60px 20px 60px;
    align-self: flex-start;
    gap: auto;
  }

  .logo a {
    font-size: medium;
  }

  .logo img {
    width: 44px;
    height: 44px;
  }

  .icon {
    display: none;
  }

  .log,
  .register,
  .see {
    padding: 12px 24px;
  }

  h1 {
    font-size: 29px;
    line-height: 40px;
  }

  p {
    font-size: 16px;
    line-height: 24px;
  }

  .part1,
  .part2,
  .part3,
  .part4,
  .part5 {
    margin: 100px 0px;
    padding: 100px 0px;
  }

  .part1 .row {
    gap: auto;
  }

  .part1-right img,
  .part3-left img {
    width: 200px;
    align-self: flex-end;
  }

  .part2 .row,
  .part3 .row {
    gap: 30px;
  }

  h2,
  h3 {
    font-size: 27px;
    line-height: 42px;
    font-family: Poppins;
  }

  .part4 .row {
    gap: 20px;
  }

  .part4-right {
    align-self: center;
  }
  .test {
    width: calc(100% - 100px);
    margin: auto;
  }
}

@media screen and (min-width: 1300px) {
  header {
    font-size: 18px;
    line-height: 27px;
  }

  .container {
    width: calc(100% - 30px);
  }

  .row {
    padding: 20px 132px 24px 132px;
  }

  .logo a {
    font-size: large;
  }

  .logo img {
    width: 54px;
    height: 54px;
  }

  .icon {
    display: none;
  }

  .log,
  .register,
  .see {
    border-radius: 8px;
    padding: 14px 34px;
  }

  h1 {
    font-size: 48px;
    line-height: 72px;
  }

  p {
    font-size: 18px;
    line-height: 27px;
  }

  .part1,
  .part2,
  .part3,
  .part4,
  .part5 {
    margin: 162px 0px;
    padding: 162px 0px;
  }

  .part1 .row {
    gap: auto;
  }

  .part1-right img,
  .part3-left img {
    width: 350px;
    align-self: flex-end;
  }

  .part2 .row,
  .part3 .row {
    gap: 30px;
  }

  h2,
  h3 {
    font-size: 30px;
    line-height: 44px;
    font-family: Poppins;
  }

  .part4 .row {
    gap: 40px;
  }

  .part4-right {
    align-self: center;
  }
  .test {
    width: calc(100% - 132px);
    margin: auto;
  }
}
